.carta-doenca {
  display: inline-block;
  min-width: 120px;
  margin-right: 8px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border: 3px solid green; /* Borda verde */
  border-radius: 8px; /* Opcional: bordas arredondadas */
  padding: 4px; /* Opcional: espaço interno */
}
