.carta-referencia {
  display: flex;
  flex-direction: column;
  width: 30rem; /* ~480px */
  height: auto;
  margin: 1rem;
  padding: 1.5rem;
  background-color: #2e3b4e;
  color: white;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 1.8rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carta-referencia h4 {
  margin: 0 0 1rem 0;
  font-weight: bold;
}

.carta-referencia p {
  margin: 0;
}

/* Celulares */
@media (max-width: 500px) {
  .carta-referencia {
    width: 90vw; /* quase toda a largura da tela */
    padding: 1rem;
    margin: 0.5rem auto;
    line-height: 1.5rem;
  }

  .carta-referencia h4 {
    font-size: 1.1rem;
  }

  .carta-referencia p {
    font-size: 0.9rem;
  }
}
