.frasco {
  height: 2rem;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #f8f8f8;
  font-size: 0.9rem;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
