.marcador-surto {
  padding: 0.5rem;
  border: 2px solid #999;
  border-radius: 8px;
  background-color: rgb(101, 146, 101);
  width: 1.8rem;
  height: 0.8rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.marcador-surto.atual {
  background-color: green;
  border-color: rgb(0, 204, 34);
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px rgb(0, 204, 78);
}

.pMarcSurto {
  margin-left: 0.7rem;
}
