<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Pandemic - Jogo</title>
    <link rel="stylesheet" href="jogo.css" />
  </head>
  <body>
    <div id="appVue" v-cloak>
      <div class="mesa">
        <div id="info" :style="{ backgroundColor: jogadorAtivo.peao?.cor || 'gray' }">Jogador: {{ jogadorAtivo.nome }} | Ações restantes: {{ acoesRestantes }}</div>
        <div class="conteiner-doenca">
          <div class="caixinha-doenca" v-for="doenca in doencas" :style="{ backgroundColor: doenca.cor }" :key="doenca.cor">
            <div v-for="(cubo, index) in doenca.cubosDoenca" v-if="cubo.posicao === 'caixa'" :key="index">
              <pino-doenca :cor="doenca.cor"></pino-doenca>
            </div>
          </div>
        </div>
        <div class="board">
          <div class="carta-doenca">Montinho das cartas de doença usadas</div>
          <carta-infeccao :cidade="cartasInfeccao.amostra.cidade"></carta-infeccao>
          <div v-for="cidade in cidades" :key="cidade.id" class="city" :style="EstilizarObjetoPosicao(cidade)">
            <!-- Pinos de Jogador -->{{cidade.nome}}
            <div v-for="peao in jogadores.peao" v-if="peao.lugar === cidade.name && pinoJogador.jogando">
              <pino-jogador :cor="peao.cor"></pino-jogador>
            </div>

            <!-- Pinos de Doença -->
            <div v-for="(doenca, index) in doencas" :key="index">
              <div v-for="(cubo, idx) in doenca.cubosDoenca" v-if="cubo.posicao === cidade.nome" :key="idx">
                <pino-doenca :cor="doenca.cor"></pino-doenca>
              </div>
            </div>

            <!-- Centro de Pesquisa -->
            <!-- <div v-if="">
              <centro-pesquisa></centro-pesquisa>
            </div> -->
          </div>
          <div v-for="(conexao, index) in conexoesCidades" :key="index" class="line" :style="CriarLinhasConexão(conexao)"></div>
          <div v-for="espaco in espacosMarcadorInfeccao" :key="espaco.id" class="marcadorInfeccao" :style="EstilizarObjetoPosicao(espaco)">{{espaco.nome}}</div>
          <div v-for="espaco in espacosMarcadorSurto" :key="espaco.id" class="marcadorSurtos" :style="EstilizarObjetoPosicao(espaco)">{{espaco.nome}}</div>
          <div v-for="doenca in doencas" :key="doenca.cor">
            <marcador-cura :cor="doenca.cor" :estado="doenca.estado"></marcador-cura>
          </div>
        </div>
        <div class="conteiner-cartas-jogador">
          <div v-if="controls.mostrarCartaReferencia">
            <carta-referencia></carta-referencia>
          </div>
          <div v-if="controls.mostrarCartasJogador">
            <carta-personagem :nome="jogadorAtivo.nome" :funcao="jogadorAtivo.cartaPersonagem.funcao" :imagem="jogadorAtivo.cartaPersonagem.imagem" :habilidades="jogadorAtivo.cartaPersonagem.habilidades"></carta-personagem>
            <div v-for="carta in jogadorAtivo.cartas">
              <carta-jogo :tipo="carta.tipo" :conteudo="carta.conteudo"></carta-jogo>
            </div>
          </div>
          <div>
            <button v-model="controls.mostrarCartaReferencia" @click="controls.mostrarCartaReferencia = !controls.mostrarCartaReferencia">Carta Referência</button>
            <button v-model="controls.mostrarCartasJogador" @click="controls.mostrarCartasJogador =!controls.mostrarCartasJogador">Cartas Jogáveis</button>
            <button @click="TrocarJogadorAtivo">Trocar de Jogador</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue 2 -->
    <script src="assets/vue.js"></script>

    <!-- Componentes -->
    <script src="components/CartaInfeccao.js"></script>
    <script src="components/CartaJogo.js"></script>
    <script src="components/CartaPersonagem.js"></script>
    <script src="components/CartaReferencia.js"></script>
    <script src="components/CentroPesquisa.js"></script>
    <script src="components/CuboDoenca.js"></script>
    <script src="components/MarcadorCura.js"></script>
    <script src="components/MarcadorSurto.js"></script>
    <script src="components/MarcadorVelocidadeInfeccao.js"></script>
    <script src="components/Peao.js"></script>

    <!-- App principal -->
    <script type="module" src="jogo.js"></script>
  </body>
</html>
